.block {
  margin-bottom: 10px;
}

.connectPassword {
  overflow-wrap: anywhere;
}

.attentionWrap {
  max-width: 300px;
}

.block {
  flex: 1;
}

.btn {
  margin-top: 27px;
}

.containerMobile {
  flex-direction: column;
  padding-top: 50px;
  .blockAttention {
    margin-bottom: 57px;
  }
}

.copyInfo {
  margin-bottom: 14px;
}