[submodule "Text Generation WebUI/text-generation-webui"]
	path = Text Generation WebUI/text-generation-webui
	url = https://github.com/oobabooga/text-generation-webui
	tag = v1.14
[submodule "ComfyUI/ComfyUI"]
	path = ComfyUI/ComfyUI
	url = https://github.com/comfyanonymous/ComfyUI

[submodule "Dia TTS Server/dia-tts-server"]
	path = Dia TTS Server/dia-tts-server
	url = https://github.com/devnen/Dia-TTS-Server.git
