@import "~bootstrap/scss/bootstrap";

.modal {
  z-index: 1000;
}

.modal-backdrop {
  &.fade {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .modal-lg {
    --bs-modal-width: 360px;
  }

  .modal-xl {
    --bs-modal-width: 862px;
  }
}