:root {
  --white: #fff;
  --white1: #E8EBF2;

  --blue: #00C2FF;

  --orange: #FF6C00;

  --black: #000;
  --black1: #060E21;

  --grey: #373e4c;
  --grey1: #94969e;
  --grey3: #4F5667;
  --grey4: #2B3345;
  --grey5: #5B616F;
          
  --red: #FF0000;
  --green: #109C52;
  --yellow: #FBD338;
}
