.content {
  width: 100%;
}

.wrap {
  width: 580px;
  height: 297px;
  border: double 1px transparent;
  border-radius: 20px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  overflow: hidden;
}

.gradient1 {
  background-image: linear-gradient(var(--black1), var(--black1)), 
                    linear-gradient(to right bottom, rgba(247, 172, 248, 1), rgba(180, 85, 58, 1), rgba(36, 68, 84, 1));
}

.gradient2 {
  background-image: linear-gradient(var(--black1), var(--black1)), 
                    linear-gradient(to right bottom, rgba(246, 122, 109, 0.5), rgba(230, 120, 214, 0.25));
}

.box {
  padding: 30px;
  height: 100%;
}

.radial1 {
  background: radial-gradient(176.25% 222.52% at 0% 100%, rgba(0, 194, 255, 0.09) 0%, rgba(0, 194, 255, 0) 100%)
}

.radial2 {
  background: radial-gradient(176.25% 222.52% at 0% 0%, rgba(0, 194, 255, 0.09) 0%, rgba(0, 194, 255, 0) 100%);
}

.title {
  font-size: 22px;
  font-weight: 500;
  line-height: 30.8px;
}

.text {
  margin-top: 20px;
  opacity: 0.7;
}

.footer {
  color: var(--aqua);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

@media screen and (max-width: 1440px) {
  .wrap {
    width: 480px;
  }
}

@media screen and (max-width: 1050px) {
  .wrap {
    width: 49%;
  }
}

@media screen and (max-width: 870px) {
  .content {
    flex-direction: column;
    gap: 20px;
  }
  .wrap {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .wrap {
    height: 320px;
  }
}