.title {
  font-size: 14px;
  margin-bottom: 40px;
}

.wrapComponent {
  margin-bottom: 4px;
}

.button {
  width: 100%;
}

.inputWrap {
  margin-bottom: 20px;
}

.inputWrapPassword {
  margin-bottom: 40px;
}